name: CI

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master]
  schedule:
    - cron: '0 18 * * 0'

jobs:
  Go:
    name: Linux
    runs-on: ubuntu-latest

    env:
      SRC_DIR: src/github.com/${{ github.repository }}

    strategy:
      matrix:
        go: [ '1.14.x', '1.15.x' ]

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Setup PATH
        run: |
          echo "GOPATH=${{ github.workspace }}" >> "$GITHUB_ENV"
          echo "GOBIN=${{ github.workspace }}/bin" >> "$GITHUB_ENV"
          echo "${{ github.workspace }}/bin" >> "$GITHUB_PATH"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: ${{env.SRC_DIR}}

      - name: Install deps
        run: |
          mkdir -p $GOBIN
          curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

      - name: Download dependencies
        working-directory: ${{env.SRC_DIR}}
        run: make deps

      - name: Run tests
        working-directory: ${{env.SRC_DIR}}
        run: make all

  Aligo:
    name: Aligo
    runs-on: ubuntu-latest

    needs: Go

    env:
      SRC_DIR: src/github.com/${{ github.repository }}

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.x'
        id: go

      - name: Setup PATH
        run: |
          echo "GOPATH=${{ github.workspace }}" >> "$GITHUB_ENV"
          echo "GOBIN=${{ github.workspace }}/bin" >> "$GITHUB_ENV"
          echo "${{ github.workspace }}/bin" >> "$GITHUB_PATH"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: ${{env.SRC_DIR}}

      - name: Install deps
        run: |
          mkdir -p $GOBIN
          curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

      - name: Download dependencies
        working-directory: ${{env.SRC_DIR}}
        run: make deps

      - name: Install Aligo
        working-directory: ${{env.SRC_DIR}}
        run: |
          wget https://apps.kaos.st/aligo/latest/linux/x86_64/aligo
          chmod +x aligo

      - name: Print Aligo version info
        working-directory: ${{env.SRC_DIR}}
        run: ./aligo --version

      - name: Check Go structs alignment info
        working-directory: ${{env.SRC_DIR}}
        run: ./aligo check ./...
